// 
// _buttons.scss
// 

button,a {
  outline: none !important;
}

.btn-light{
  border: 1px solid darken($light, 2%);
}

// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark, .btn-secondary{
  color: $gray-200;
}

.btn-outline-light{
  color: $gray-900;
}



.btn-primary {
  color: #fff;
  background-color: #5d54c2;
  border-color: #7367f0;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #685dd8 !important;
  border-color: #685dd8 !important;
}
.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #685dd8;
  border-color: #685dd8;
  box-shadow: none;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.show.dropdown-toggle, .show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #685dd8 !important;
  border-color: #685dd8 !important;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff !important;
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
  box-shadow: none !important;
}

.btn-group .btn-primary,
.input-group .btn-primary {
  border-right: 1px solid #685dd8;
  border-left: 1px solid #685dd8;
}

.btn-label-primary {
  color: #7367f0;
  border-color: transparent;
  background: #e9e7fd;
}
.btn-label-primary.waves-effect .waves-ripple {
  background: radial-gradient(rgba(115, 103, 240, 0.2) 0, rgba(115, 103, 240, 0.3) 40%, rgba(115, 103, 240, 0.4) 50%, rgba(115, 103, 240, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.btn-label-primary:hover {
  border-color: transparent !important;
  background: #dddbfb !important;
  color: #7367f0 !important;
}
.btn-label-primary:focus, .btn-label-primary.focus {
  color: #7367f0;
  background: #dddbfb;
  box-shadow: none !important;
}
.btn-label-primary:active, .btn-label-primary.active, .btn-label-primary.show.dropdown-toggle, .show > .btn-label-primary.dropdown-toggle {
  color: #7367f0 !important;
  background-color: #dddbfb !important;
  border-color: transparent !important;
}
.btn-label-primary:active:focus, .btn-label-primary.active:focus, .btn-label-primary.show.dropdown-toggle:focus, .show > .btn-label-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-label-primary.disabled, .btn-label-primary:disabled {
  color: #7367f0 !important;
  border-color: transparent !important;
  background: #eae8fd !important;
  box-shadow: none;
}

.btn-group .btn-label-primary,
.input-group .btn-label-primary {
  border-right: 1px solid #dddbfb;
  border-left: 1px solid #dddbfb;
}

.btn-outline-primary {
  color: #7367f0;
  border-color: #7367f0;
  background: transparent;
}
.btn-outline-primary.waves-effect .waves-ripple {
  background: radial-gradient(rgba(115, 103, 240, 0.2) 0, rgba(115, 103, 240, 0.3) 40%, rgba(115, 103, 240, 0.4) 50%, rgba(115, 103, 240, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.btn-outline-primary:hover {
  color: #7367f0 !important;
  background-color: #f4f3fe !important;
  border-color: #7367f0 !important;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  color: #7367f0;
  background-color: #f4f3fe;
  border-color: #7367f0;
  box-shadow: none;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #7367f0 !important;
  background-color: #e9e7fd !important;
  border-color: #7367f0 !important;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: none;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #7367f0 !important;
  background-color: transparent !important;
}

.btn-outline-primary .badge {
  background: #7367f0;
  border-color: #7367f0;
  color: #fff;
}

.btn-outline-primary:hover .badge,
.btn-outline-primary:focus:hover .badge,
.btn-outline-primary:active .badge,
.btn-outline-primary.active .badge,
.show > .btn-outline-primary.dropdown-toggle .badge {
  background: #7367f0;
  border-color: #7367f0;
}