<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> ©  Институт информационных технологий и инновационного развития КазНУ им. аль-Фараби
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    IP: 1.1.1.1 <i class="mdi mdi-heart text-danger"></i> Сайт КазНУ |
                </div>
            </div>
        </div>
    </div>
</footer>

