<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!-- User details -->
    <div class="user-profile text-center mt-3">
      <div class="">
        <img
          src="assets/images/users/image 2.png"
          alt=""
          class="avatar-md rounded-circle"
        />
      </div>
      <div class="mt-3">
        <h4 class="font-size-16 mb-1">yerzhan</h4>
        <span class="text-muted"
          ><i
            class="ri-record-circle-line align-middle font-size-14 text-success"
          ></i>
          Онлайн</span
        >
      </div>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Меню</li>

        <li>
          <a href="index.html" class="waves-effect">
            <i class="ri-dashboard-line"></i
            ><span class="badge rounded-pill bg-success float-end">3</span>
            <span>Новости</span>
          </a>
        </li>

        <li>
          <a href="calendar.html" class="waves-effect">
            <i class="ri-calendar-2-line"></i>
            <span>Расписание</span>
          </a>
        </li>

        
          
          
        </li>

         

        
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-account-circle-line"></i>
            <span>E-Услуги</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="students_e-services_services_StatementPage.html"
                >Заявки е-услуг</a
              >
            </li>
            

            <li>
                <a href="students_e-services_services_UserServiceList.html">Услуги</a>
            </li>

            

          </ul>
        </li>

        

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-account-circle-line"></i>
            <span>Студент</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="./../students_bachelor_student_registracija_osenni_semestr.html"
                >Регистрация Осенний семестр(2023-2024)</a
              >
            </li>

            <li><a href="../students_bachelor_student_registracija_osenni_semestr.html">Регистрация Весенний семестр(2023-2024)</a></li>
            <li><a href="../students_bachelor_student_anketirovanie_studentov.html">Анкетирование студентов </a></li>
            <li><a href="../students_bachelor_student_Redaktirovanie_licnyh_dannyh.html">Редактирование личных данных</a></li>
            <li><a href="">Практика</a></li>
            <li><a href="../students_bachelor_student_Moj_edvajzer.html">Мой эдвайзер</a></li>
            <li><a href="../students_bachelor_student_dogovora.html">Договора </a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-account-circle-line"></i>
            <span>Учебный процесс</span>
            <span>Student</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="../students_bachelor_student_educ_proccess_academic_calendar.html">Академический календарь</a>
              <a href="../students_bachelor_student_educ_proccess_Расписание экзаменов.html">Расписание   (Расписание экзаменов)</a>
              <a href="../students_bachelor_student_educ_proccess_Расписание Midterm.html">Расписание Midterm</a>
              <a href="../students_bachelor_student_educ_proccess_educplan.html">Учебный план</a>
              <a href="../process_current-attestation.html">Текущая аттестация</a>
              <a href="../students_bachelor_student_educ_proccess_Журнал посещений и успеваемости.html">Журнал посещений и успеваемости</a>
            </li>
          </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="ri-account-circle-line"></i>
              <span>Stundent Документы</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li>
                <a href="../students_bachelor_student_educ_proccess_academic_calendar.html">Академический календарь</a>
                <a href="../students_bachelor_student_educ_proccess_Расписание экзаменов.html">Расписание   (Расписание экзаменов)</a>
                <a href="../students_bachelor_student_educ_proccess_Расписание Midterm.html">Расписание Midterm</a>
                <a href="../educplan.html">Учебный план</a>
                <a href="../attestation.html">Текущая аттестация</a>
                <a href="../students_bachelor_documents_umkd.html">УМКД</a>
                <a href="../students_bachelor_student_educ_proccess_Журнал посещений и успеваемости.html">Журнал посещений и успеваемости</a>
              </li>

            </ul>
        </li>
       



        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-account-circle-line"></i>
            <span> Documents</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="../students_bachelor_documents_anketa_studenta.html">Анкета Студента</a>
              <a href="../students_bachelor_documents_Рейтинг.html">Рейтинг</a>
            </li>
          </ul>
      </li>

      



        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="ri-account-circle-line"></i>
              <span> Student Разное</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li>
                <a href="../students_bachelor_others_Testing.html">Тестирование</a>
                <a href="#">Онлайн тест</a>
                <a href="../bac">Дистанционные курсы</a>
                <a href="../students_bachelor_others_student_debt.html">Задолженности</a>
                <a href="../students_bachelor_others_Retake.html">Пересдача</a>
                <a href="../students_bachelor_others_gpa_Increase.html">Повышение GPA</a>
              </li>
            </ul>
        </li>

        
        
        
        
        
        
       
        
        
        
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
