<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/" alt="farabi" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/" alt="farabi" height="20">
                    </span>
                </a>

                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="farabi" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="farabi" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

            <!-- App Search-->
            

            <div class="dropdown dropdown-mega d-none d-lg-block ms-2">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    Преподаватель
                    <i class="mdi mdi-chevron-down"></i> 
                </button>
                <div class="dropdown-menu dropdown-megamenu">
                    <div class="row">
                        <div class="col-sm-8">
                
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="font-size-14">Преподаватель</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">Новости</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Преподаватель</a>
                                        </li>

                                        <li>
                                            <a href="./../bachelor_others_Testing.html">Тестирование</a>
                                          </li>

                                          <li>
                                            <a href="#">Онлайн тест</a>
                                          </li>

                                          <li>
                                                <a href="./../bac">Дистанционные курсы</a>
                                          </li>

                                          <li>
                                            <a href="./../bachelor_others_student_debt.html">Задолженности</a>
                                          </li>

                                          <li>
                                            <a href="./../bachelor_others_Retake.html">Пересдача</a>
                                          </li>

                                          <li>
                                            <a href="./../bachelor_others_gpa_Increase.html">Повышение GPA</a>
                                          </li>

                                    </ul>




                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14">Преподаватель</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">Новости</a>
                                            
                                        </li>
                                        
                                    </ul>
                                </div>


                                
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex">

            

            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item waves-effect"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="" src="assets/images/flags/kz.png" alt="Header Language" height="16">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    
                    <!-- item-->
                    

                    <!-- item-->
                    

                    <!-- item-->
                    

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/kz.png" alt="user-image" class="me-1" height="12"> <span class="align-middle">KZ</span>
                    </a>
                </div>
            </div>

            


            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/image 2.png"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1">yerzhan</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="ri-user-line align-middle me-1"></i> Мой Профиль</a>
                    
                   
                   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> Выйти</a>
                </div>
            </div>

            
            
        </div>
    </div>
</header>